@import "vars.css";

.text-primary{
    color: var(--primary);
}


.bg-primary{
    background-color: var(--primary);
}


.bg-primary-50{
    background-color: var(--primary-50);
}


.bg-primary-33{
    background-color: var(--primary-33);
}


.bg-primary-66{
    background-color: var(--primary-66);
}


.border-primary{
    border-color: var(--primary);
}


.btn-primary{
    border-color: var(--primary);
    color: var(--primary);
    background-color: transparent;
}


.btn-primary:hover{
    background-color: var(--primary);
    color: #000000
}


.text-secondary{
    color: var(--secondary);
}


.bg-secondary{
    background-color: var(--secondary);
}


.bg-secondary-50{
    background-color: var(--secondary-50);
}


.bg-secondary-33{
    background-color: var(--secondary-33);
}


.bg-secondary-66{
    background-color: var(--secondary-66);
}


.border-secondary{
    border-color: var(--secondary);
}


.btn-secondary{
    border-color: var(--secondary);
    color: var(--secondary);
    background-color: transparent;
}


.btn-secondary:hover{
    background-color: var(--secondary);
    color: #000000
}


.text-tertiary{
    color: var(--tertiary);
}


.bg-tertiary{
    background-color: var(--tertiary);
}


.bg-tertiary-50{
    background-color: var(--tertiary-50);
}


.bg-tertiary-33{
    background-color: var(--tertiary-33);
}


.bg-tertiary-66{
    background-color: var(--tertiary-66);
}


.border-tertiary{
    border-color: var(--tertiary);
}


.btn-tertiary{
    border-color: var(--tertiary);
    color: var(--tertiary);
    background-color: transparent;
}


.btn-tertiary:hover{
    background-color: var(--tertiary);
    color: #000000
}


.text-dark{
    color: var(--dark);
}


.bg-dark{
    background-color: var(--dark);
}


.bg-dark-50{
    background-color: var(--dark-50);
}


.bg-dark-33{
    background-color: var(--dark-33);
}


.bg-dark-66{
    background-color: var(--dark-66);
}


.border-dark{
    border-color: var(--dark);
}


.btn-dark{
    border-color: var(--dark);
    color: var(--dark);
    background-color: transparent;
}


.btn-dark:hover{
    background-color: var(--dark);
    color: #000000
}


.text-light{
    color: var(--light);
}


.bg-light{
    background-color: var(--light);
}


.bg-light-50{
    background-color: var(--light-50);
}


.bg-light-33{
    background-color: var(--light-33);
}


.bg-light-66{
    background-color: var(--light-66);
}


.border-light{
    border-color: var(--light);
}


.btn-light{
    border-color: var(--light);
    color: var(--light);
    background-color: transparent;
}


.btn-light:hover{
    background-color: var(--light);
    color: #000000
}


.text-warning{
    color: var(--warning);
}


.bg-warning{
    background-color: var(--warning);
}


.bg-warning-50{
    background-color: var(--warning-50);
}


.bg-warning-33{
    background-color: var(--warning-33);
}


.bg-warning-66{
    background-color: var(--warning-66);
}


.border-warning{
    border-color: var(--warning);
}


.btn-warning{
    border-color: var(--warning);
    color: var(--warning);
    background-color: transparent;
}


.btn-warning:hover{
    background-color: var(--warning);
    color: #000000
}


.text-danger{
    color: var(--danger);
}


.bg-danger{
    background-color: var(--danger);
}


.bg-danger-50{
    background-color: var(--danger-50);
}


.bg-danger-33{
    background-color: var(--danger-33);
}


.bg-danger-66{
    background-color: var(--danger-66);
}


.border-danger{
    border-color: var(--danger);
}


.btn-danger{
    border-color: var(--danger);
    color: var(--danger);
    background-color: transparent;
}


.btn-danger:hover{
    background-color: var(--danger);
    color: #000000
}


